@font-face {
  font-family: "FreePixel";
  src: url("https://sadhost.neocities.org/fonts/FreePixel.ttf") format("truetype");
}

:root {
  --background: #0E191A;
  --main-color:#7107AF;
  --main-color-dk:#441261;
  --accent-1:#B5E61D;
  --accent-2:#EB53D3;
  --content-spacing:5px;
  --background-img:url('bg-test-green.png');
  --banner:url("baner.png");
  --titleBars:url('tiny-bar-2.png');
  --text-color:white;
  --link-color:var(--accent-1);
  --border:1px solid black;
  --arrows:url('../assets/images/arrow.png');
}

h1.main_title {
  background-color: #0E191A;
  color:#B5E61D;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "FreePixel";
}

body {

  background-image: var(--background-img);
  color: var(--text-color);
  background-attachment:fixed;
}
.topbar {
  background-image:var(--banner);
  height:150px;
  margin-bottom:var(--content-spacing);
  border:var(--border);
}

#container,
.topbar img {
  width: 1000px;
  margin: 0 auto;
}
#container a {
  color:var(--link-color);
}
.topbar img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#container {
  border-top: none;
}

#flex {
  display: block;
  width:1000px;
}

aside {
  width: 30%;
  margin-left:var(--content-spacing);
  border-left:var(--border);
  background-color: var(--background);
}

.title, .sidebar-title {
  background-image:var(--titleBars);
  font-weight:bold;
  border:var(--border);
  font-size:25px;
}

main {
  width: 100%;
  background-color: var(--background);
}
nav {
  position:sticky;
  top:20px;
}
nav ul {
  list-style-image:var(--arrows);
  margin-left:0;
  padding-left:30px;
}
nav ul li a {
  color:var(--accent-1);
}
.content {
  padding:25px;
}

footer {
  border:var(--border);
  height:25px;
  margin-top:var(--content-spacing);
  background-image:var(--titleBars);
  text-align:center;
}
/* button styles */
button {
  background-image:var(--titleBars);
  border:var(--border);
  color:white;
  margin-bottom:10px;
}
th {
  color:var(--accent-2);
}
#linkNum {
  color:var(--accent-2);
  font-weight:bold;
}
h2 {
  color:var(--accent-2);
}
#themeDiv {
position: sticky;
top: 550px;
}

@media only screen and (max-width: 1000px) {
  nav ul {
      list-style-image:none;
      list-style-type:none;
  }
  #flex {
      flex-wrap:wrap;
  }
  main {
      width:100%;
      order:2;
  }
  aside {
      display:block;
      width:100%;
      order:1;
      margin-left:0;
  }
  nav ul {
      display:flex;
      flex-wrap:wrap;
  }
  nav ul li {
      padding-right:10px;
  }
  nav ul > ul {
      display:none;
  }
  }
  @media only screen and (max-height: 1000px) {
      nav ul > ul {
          display:none;
      }
  }

